@page
@model ChartSample
@{
    ViewData["Title"] = "Grid Page 1";
}

<div id="pieChartContainer" style="margin-bottom: 1em;" class="chart-display"></div>
<div id="columnChartContainer" style="margin-bottom: 1em;" class="chart-display"></div>
<div id="lineChartContainer" style="margin-bottom: 1em;" class="chart-display"></div>
<div id="MyGridId"></div>
@TempData["SAPGridView"]

<script>
    //optional
    // function DataTableCallBackData(oData) {
    //     console.log(oData);
    // }
</script>