@page
@model NestedLevels
@{
    ViewData["Title"] = "Grid Page 1";
}

<div id="MyGridId"></div>
@TempData["SAPGridView"]

<script>
    //optional
    // function DataTableCallBackData(oData) {
    //     console.log(oData);
    // }
</script>