@page
@model GridSwapData1_ServerSide
@{
    ViewData["Title"] = "Grid Page 1";
}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <button class="btn btn-dark btn-sm" id="swapToFirst" onclick="swap('SwapToFirst')">SwapToFirst</button>
        |
        <button class="btn btn-primary btn-sm" id="swapToSecond" onclick="swap('SwapToSecond')">SwapToSecond</button>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <select onchange="selectOnChange(this)">
            <option value="">Please select...</option>
            <option class="text-dark" value="SwapToFirst">SwapToFirst</option>
            <option class="text-primary" value="SwapToSecond">SwapToSecond</option>
        </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <input type="radio" id="SwapToFirst" name="swapToGrid" value="SwapToFirst" onchange="radioOnChange(this);" checked="checked">
        <label for="SwapToFirst" class="text-dark">SwapToFirst</label>
        <input type="radio" id="SwapToSecond" name="swapToGrid" value="SwapToSecond" onchange="radioOnChange(this);">
        <label for="SwapToSecond" class="text-primary">SwapToSecond</label>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12" id="MyGridsContainer">
        <div id="MyGridId"></div>
        @TempData["SAPGridView"]
    </div>
</div>


@section scripts {
    <script>
        function swap(methodName) {
            callBackData = {
                param1: 1,
                param2: 1.1,
                param3: "1",
                param4: {
                    param41: 1,
                    param42: 2,
                    param43: "1"
                }
            };
            $(".SGV_LoadingContainer").show();
            $.ajax({
                type: "POST",
                url: document.location.origin + document.location.pathname + "?handler=" + methodName,
                data: JSON.stringify(callBackData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var d = JSON.parse(data);
                    SapGridViewJSBind(d, 1, "1");
                    $(".SGV_LoadingContainer").hide();
                },
                error: function (error) {
                    console.log(error);
                    $(".SGV_LoadingContainer").hide();
                    alert("خطایی در ارتباط با سرور وجود دارد");
                }
            });
        }

        function selectOnChange(obj) {
            if(obj.value)
                swap(obj.value)
        }

        function radioOnChange(obj) {
            if(obj.value)
                swap(obj.value)
        }
    </script>
}