################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/AspDotNetCoreRazor/bin
/src/AspDotNetCoreRazor/obj
/src/WWWPGrids/bin
/src/WWWPGrids/obj
