@page
@model SimpleServerSide
@{
    ViewData["Title"] = "Grid Page 1";
}

<div id="MyGridId"></div>
@TempData["SAPGridView"]


<script>
    //optional
    function DataTableCallBackData(oData) {
        //console.log(oData);
        $(".checkbox").on("click", function () { 
            console.log(this);
        });
    }
    function func1(obj) {
        console.log(obj);
    }
</script>